
body{
    background-color: #fff ;
   
}
.im
{
    background-image: url("https://res.cloudinary.com/dgrm3sqpp/image/upload/v1675767304/CONTTACTUS_urlu7o.png");
    background-size: cover;
    width: 100vw;

        
}

.contact-heading1
{
    color: rgb(255, 255, 255);
    text-align: center;
    font-weight: bold;
    font-size:50px;
    padding: 200px;
    
}

.contactus
{
     position: relative;
    width: 100%;
    padding: 40px, 100px;
} 

.contactus .title 
{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1em;
    


}
.contactus .title h2{
    color: white;
    font-weight: 500;


}
.contactbox
{
    
     box-shadow: 0 5px 35px rgba(0, 0, 0, 0.15);

}



.form
{
    grid-area: form;
    border-radius: 5px; 
}

.info
{
    grid-area: info;
}

.map
{
    grid-area: map;
}
.contact
{
    padding: 40px;
    background: #fbfafa;
}


.contactbox
  {
    position: relative;
    display:grid;
    grid-template-columns :2fr 1fr;
    grid-template-rows: 5fr 4fr;
    grid-template-areas: 
    "form info"
    "form map";
    grid-gap: 20px; 
}

.contact h3
{
    color: #0e3959;
    font-weight: 500;
    font-size: 1.4em;
    margin-bottom:10px;  
}

/*form css*/
.formbox 
{
    position: relative;
    width: 100%;

}
.formbox .row50
{
    display: flex; 
    gap: 20px;
}

.inputbox
{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    width: 50%;
}
.formbox .row100 .inputbox

{
    width: 100%;

}
.inputbox span
{
    color: #218ec0;
    margin-top: 10px;
    margin-bottom: 5px;
    font-weight: 500;

}
.inputbox input
{
    padding: 10px;
    font-size:20px;
    outline:none;
    border: 1px solid #333;
    
}
.inputbox textarea
{
    padding: 10px;
    font-size:1.1em;
    outline:none;
    border: 1px solid #333;
    resize: none;
    min-height: 220px;
    margin-bottom: 10px;
}
.inputbox input[type="submit"]
{
    background:rgb(244, 6, 101);
    color:#ffffff;
    border:none;
    font-size:1.1em;
    max-width: 120px;
    font-weight: 500;
    cursor: pointer;
    padding: 14px 15px;
}
.inputbox ::placeholder
{
    color: #999;
}

/* infobox*/
.info
{
    background: #0f0f11;
    border-radius: 5px;
}
.info h3{
    color: #faf6f6;

}
.info .infobox div
{
    display:flex;
    
    align-items: center;
    margin-bottom:10px;
    
 
}
.info .infobox div span
{
  min-width: 40px; 
  height: 40px;
  color: #180909;
  background: #ea1538; 
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5em;
  border-radius: 50%;
  margin-right: 15px;
  
  
}
.nav-donate{
    color: white;
    text-decoration: none;
}
.nav-donate:hover{
    color: white;
    text-decoration: none;
}
.info .infobox div span:hover
{
    background-color:#fff;
}

.info .infobox div p
{
  color: #fff;
  font-size: 1.5em; 

}
.info .infobox div a
{
  color: #fff;
  text-decoration: none; 
  font-size: 1.5em;
}

@media screen and (max-width:500px){
    .info .infobox div p
{
  color: #fff;
  font-size: 17px; 

}
.info .infobox div a
{
  color: #fff;
  text-decoration: none; 
  font-size: 17px;
}
}
.social
{
    margin-top: 40px ;
    display: flex;
    margin: 15px;
}
.social li
{
    list-style: none;
    margin: 10px;
}
.social li a
{
    color: #fff;
    font-size: 1.7em;
    color: #ffffff; 
}

.social li a :hover
{
   color: #ea1538; 
   
   transition : 0.2s;

}

/*map*/
.map
{
    padding: 0px;
    border-radius: 5px;
}
.map iframe
{
    width: 100%;
    height: 100%;

}


/*responsive*/
@media (max-width: 991px)
{
    .contactus
    {
        background-color: white;
        padding: 20px;
    }
    .map
    {
        height: 40vh;
    }
    .contactbox
    {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-template-areas: 
        "map"
        "info"
        "form";

    }
    
    .map{
        min-height: 300px;
        padding: 0;
    }
    .formbox .row50
    {
        display:flex;
        gap:0;
        flex-direction: column;
    }
    .inputbox
    {
        width:100%;
    }
    .contact
    {
        padding:10px;

    }   
}
@media (max-width: 430px)
{
    .contactus
    {
        background-color: white;
        padding: 20px;
    }
    .map
    {
        height: 40vh;
    }
    .contactbox
    {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-template-areas: 
        "map"
        "info"
        "form";

    }
    
    .map{
        min-height: 300px;
        padding: 0;
    }
    .formbox .row50
    {
        display:flex;
        gap:0;
        flex-direction: column;
    }
    .inputbox
    {
        width:100%;
    }
    .contact
    {
        padding:10px;

    }
    .contact-heading1{
        font-size:20px;
        padding: 86px;
    }
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Playfair Display', serif;
}

.div-of-nav {
    position: sticky;
}

.navs1 {
    height: 10vh;
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: space-between;
    padding-top: 6px;
    padding-left: 2%;
    padding-right: 2%;

}

.ul-content1 {
    color: black;
    text-decoration: none;
    font-weight: bold;

}
.ul-nav1 {
    align-items: right;
}
.caption-cor {
    padding: 3px;
    border-radius: 20px;
}
.logo1 {
    height: 70px;
    width: 70px;
    padding-top: 0px;
}
.logo1:hover{
    width: 75px;
    height: 75px;
    transition: 0.1s;
    box-shadow: 0 1.4rem 8rem rgba(0, 0, 0, 0.2);
    
}

.logo12 {
    font-size: 28px;
    padding: 10px;
    padding-top: 15px;

}

.span1 {
    color: #ea1538;
}

nav ul li {
    list-style-type: none;
    display: inline-block;
    padding: 10px 20px;
}

.slidedonate {
    background-color: #ea1538;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    width: 130px;
    padding-bottom: 10px;
    color: white;
    border-width: 0px;
    border-radius: 3px;
    position: relative;
    animation: text 2s 1;
    overflow: hidden;

    /* position: relative;
    margin: 10px;
    padding-top:10px;
   
    background-color: #ea1538;
    text-decoration: none;
    overflow: hidden;
    animation: text 2s 1; */
}

.slidedonate span {
    position: relative;
    z-index: 1;
    color: white;
}

.slidedonate::before {
    content: '';
    position: absolute;
    top: var(--y);
    left: var(--x);
    transform: translate(-50%, -50%);
    width: 0;
    height: 0;
    border-style: 2px solid transparent;
    border-radius: 50%;
    background: rgb(0, 0, 0);
    transition: width 1.5s, height 1.5s;
}

.ul-content1:hover {
    color: #ea1538;
    transition: .3s;
    text-decoration: none;

}

.new-navs1 {
    display: flex;
}

.button1 {
    border: none;
    background: #ea1538;
    padding: 12px 30px;
    border-radius: 30px;
    color: white;
    font-weight: bold;
    font-size: 15px;
    transition: .4s;
}

.button1:hover {
    transform: scale(1.3);
    cursor: pointer;
}



.navs1 .nav-hamburger {
    display: none;
    position: absolute;
    top: 35px;
    right: 50px;
    width: 75px;
}
.footer{
    background-color: #24262d;
    padding: 70px 0;
}
.container{
    max-width: 1170px;
    
    margin: auto;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
.footer-col{
    width: 25%;
    padding: 0 15px;
}
ul{
    list-style: none;
}
.footer-col h4{
    font-size: 18px;
    color: #fff;
    text-decoration: none;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
    
}
/*
.footer-col h4::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #e91e63;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}
*/
.footer-col ul li:not(:last-child){
    margin-bottom: 10px;
}
.footer-col ul li a{
font-size: 16px;
text-transform: capitalize;
color: #fff;
text-decoration: none;
font-weight:300;
color:#bbbbbb;
display: block;
transition: all 0.3s ease;

}
.footer-col ul li a:hover{
    color: #ffffff;
    padding-left: 8px;
}
.footer-col .social-links a{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.5s ease;

}
.footer-col .social-links a:hover{
    color:#24262b;
    background-color: #ffffff;
}


@media screen and (max-width : 1110px) {
    .navs1 {
        padding: 0;
    }

    .navs1 .nav-hamburger {
        position: absolute;

        display: block;
        top: -4px;
        padding: 8px;
        right: 18px;
    }

    @media screen and (max-width : 1110px) {
        .navs1 {
            padding: 0;
        }
    
        .navs1 .nav-hamburger {
            position: absolute;
    
            display: block;
            top: -4px;
            padding: 8px;
            right: 18px;
        }
    
        .navhide {
            top: 0;
            left: 0;
            position: absolute;
            background-color: white;
            box-shadow: 0 0 10px gray;
            width: 100%;
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-left: -100%;
            transition: all 0.5s ease;
    
        }
        .navhide.mobile-menu{
            margin-left: 0;
        
        }
    
        .navhide ul {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    
        .navs1 .navhide ul li {
            margin: 20px 0;
            font-size: 1.2em;
    
    
        }
    
    }
    .navhide.mobile-menu {
        margin-left: 0;

    }

    .navhide ul {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .navs1 .navhide ul li {
        margin: 20px 0;
        font-size: 1.2em;


    }
}
@media(max-width : 560px){
    .footer-col{
        width: 100%;
    }
}
.underline{
    background-color: #ea1538;
    width: 60px;
    padding: 1px;
    margin-top: -24px;
    margin-bottom: 35px;
    
}

.slidedonate:hover::before {
    width: 1000px;
    height: 1000px;
}
@media screen and (max-width : 500px){
    .slidedonate{
        padding-left: 26px;
        padding-right: 30px;
        padding-top: 5px;
        width: 110px;
        padding-bottom: 10px;
        }
}


#preloader
{
  background: #ffffff url(https://i0.wp.com/codemyui.com/wp-content/uploads/2017/11/gradient-colour-slide-puzzle-style-loading-animation.gif?fit=880%2C440&ssl=1) no-repeat center center;
  background-size: 20% ;
   height: 100vh;
  width: 100%;
  position: fixed;
  z-index: 100;

}