
/*----------------------------navb& footer css------------------------------------*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Playfair Display', serif;
}

.div-of-nav {
    position: sticky;
}

.navs1 {
    height: 10vh;
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: space-between;
    padding-top: 6px;
    padding-left: 2%;
    padding-right: 2%;

}

.ul-content1 {
    color: black;
    text-decoration: none;
    font-weight: bold;

}
.ul-nav1 {
    align-items: right;
}
.caption-cor {
    padding: 3px;
    border-radius: 20px;
}
.logo1 {
    height: 70px;
    width: 70px;
    padding-top: 0px;
}
.logo1:hover{
    width: 75px;
    height: 75px;
    transition: 0.1s;
    box-shadow: 0 1.4rem 8rem rgba(0, 0, 0, 0.2);
    
}

.logo12 {
    font-size: 28px;
    padding: 10px;
    padding-top: 15px;

}

.span1 {
    color: #ea1538;
}

nav ul li {
    list-style-type: none;
    display: inline-block;
    padding: 10px 20px;
}

.slidedonate {
    background-color: #ea1538;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    width: 130px;
    padding-bottom: 10px;
    color: white;
    border-width: 0px;
    border-radius: 3px;
    position: relative;
    animation: text 2s 1;
    overflow: hidden;
}

.slidedonate span {
    position: relative;
    z-index: 1;
}

.slidedonate::before {
    content: '';
    position: absolute;
    top: var(--y);
    left: var(--x);
    transform: translate(-50%, -50%);
    width: 0;
    height: 0;
    border-style: 2px solid transparent;
    border-radius: 50%;
    background: rgb(0, 0, 0);
    transition: width 1.5s, height 1.5s;
}

.ul-content1:hover {
    color: #ea1538;
    transition: .3s;
    text-decoration: none;

}
.nav-donate{
    color: white;
    text-decoration: none;
}
.nav-donate:hover{
    color: white;
    text-decoration: none;
}

.new-navs1 {
    display: flex;
}

.button1 {
    border: none;
    background: #ea1538;
    padding: 12px 30px;
    border-radius: 30px;
    color: white;
    font-weight: bold;
    font-size: 15px;
    transition: .4s;
}

.button1:hover {
    transform: scale(1.3);
    cursor: pointer;
}



.navs1 .nav-hamburger {
    display: none;
    position: absolute;
    top: 35px;
    right: 50px;
    width: 75px;
}
.footer{
    background-color: #24262d;
    padding: 70px 0;
}
.container{
    max-width: 1170px;
    
    margin: auto;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
.footer-col{
    width: 25%;
    padding: 0 15px;
}
ul{
    list-style: none;
}
.footer-col h4{
    font-size: 18px;
    color: #fff;
    text-decoration: none;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
    
}

.footer-col ul li:not(:last-child){
    margin-bottom: 10px;
}
.footer-col ul li a{
font-size: 16px;
text-transform: capitalize;
color: #fff;
text-decoration: none;
font-weight:300;
color:#bbbbbb;
display: block;
transition: all 0.3s ease;

}
.footer-col ul li a:hover{
    color: #ffffff;
    padding-left: 8px;
}
.footer-col .social-links a{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.5s ease;

}
.footer-col .social-links a:hover{
    color:#24262b;
    background-color: #ffffff;
}


@media screen and (max-width : 1110px) {
    .navs1 {
        padding: 0;
    }

    .navs1 .nav-hamburger {
        position: absolute;

        display: block;
        top: -4px;
        padding: 8px;
        right: 18px;
    }

    @media screen and (max-width : 1110px) {
        .navs1 {
            padding: 0;
        }
    
        .navs1 .nav-hamburger {
            position: absolute;
    
            display: block;
            top: -4px;
            padding: 8px;
            right: 18px;
        }
    
        .navhide {
            top: 0;
            left: 0;
            position: absolute;
            background-color: white;
            box-shadow: 0 0 10px gray;
            width: 100%;
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-left: -100%;
            transition: all 0.5s ease;
    
        }
        .navhide.mobile-menu{
            margin-left: 0;
        
        }
    
        .navhide ul {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    
        .navs1 .navhide ul li {
            margin: 20px 0;
            font-size: 1.2em;
    
    
        }
    
    }
    .navhide.mobile-menu {
        margin-left: 0;

    }

    .navhide ul {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .navs1 .navhide ul li {
        margin: 20px 0;
        font-size: 1.2em;


    }
}
@media(max-width : 560px){
    .footer-col{
        width: 100%;
    }
}
.underline{
    background-color: #ea1538;
    width: 60px;
    padding: 1px;
    margin-top: -24px;
    margin-bottom: 35px;
    
}

.slidedonate:hover::before {
    width: 1000px;
    height: 1000px;
}
@media screen and (max-width : 500px){
    .slidedonate{
        padding-left: 26px;
        padding-right: 30px;
        padding-top: 5px;
        width: 110px;
        padding-bottom: 10px;
        }
}
/*--------------------------footer&navbar css-------------------------*/

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container1 {
    margin-top: 50px;
    align-items: center;
    justify-content: center;
    background-color: white;
    padding: 40px;
}

@media screen and (max-width:500px){
    .container1{
        padding-left:0px ;
        padding-right: 10px;
        padding: 20px;
    }
}

.blog-post {
    width: 100%;
    max-width: 98rem;
    padding: 20px;
    background-color: #dbf4ff21;
    box-shadow: 0 1.4rem 8rem rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    margin-bottom: 29px;
    margin-left: 10px;
    margin-right: 10px;
    border-style: solid;
    margin-right: 10px;
    border-width: 0px;
    border-bottom-width: 5px;
    border-color: white;
}
.blog-post:hover{
    border-color: #ea1538;
    border-radius: .8rem;
}

.blog-post_img{
    width: 60vw;
    height: 50vh;
}

.blog-post_img img {
    width: 100%;
    height: 100%;
   
    display: block;
    transition: 0.2s;
}

.blog-post_img img::before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    box-shadow: .5rem .5rem 3rem 1px rgba(0, 0, 0, 0.5);
}

.blog-post_date span {
    display: block;
    color: #00000080;
    font-size: 20px;
    font-weight: 600;
    margin: .5rem 0;

}

.blog-post_title {
    font-size: 20px;
    margin: 1.5rem 0 2rem;
    text-transform: uppercase;
    color: #eb1515;

}

.blog-post_text {
    margin-bottom: 3rem;
    font-size: 15px;
    color: #000000b3;

}
.blog-post_info{
    padding: 40px;
}

.image1:hover{
    transform: translateY(-0.50%);
    box-shadow: 0 4rem 8rem rgba(0,0,0,0.5);

}

@media screen and (max-width: 1068px) {
    .blog-post {
        max-width: 80rem;

    }

    .blog-post_img {
        max-width: 30rem;
        min-width: 30rem;
    }
}

@media screen and (max-width: 868px) {
    .blog-post {
        max-width: 70rem;

    }

}

@media screen and (max-width: 768px) {
    .blog-post {
        padding: 2.5rem;
        flex-direction: column;
    }

    .blog-post_img {
        min-width: 100%;
        max-width: 100%;
        transform: translate(0, .1rem);
    }
    .blog-post_info{
        padding: 0px;
    }
}

.donate-bg-container{
    background-image: url("https://img.freepik.com/free-photo/user-people-network-circuit-board-link-connection-technology_1379-882.jpg?w=1380&t=st=1675879452~exp=1675880052~hmac=1ce38ab5a3ee338f593beecd3cd425a5b472a1b42af2a9e82044121058030d38");
    background-size: cover;
    width: 100vw;
    background-blend-mode: darken;
    text-align: center;
    padding: 160px;
}
.donate-heading{
    font-size: 40px;
    color: white;
}
.donate-para{
    font-size: 20px;
    color: white;
}
@media screen and (max-width:500px){
    
    .donate-bg-container{
        text-align: start;
        padding: 50px;
    }
    .donate-heading{
        font-size: 20px;
        color: white;
    }
    .donate-para{
        font-size: 14px;
        color: white;
    }
   
}
#preloader
{
  background: #ffffff url(https://i0.wp.com/codemyui.com/wp-content/uploads/2017/11/gradient-colour-slide-puzzle-style-loading-animation.gif?fit=880%2C440&ssl=1) no-repeat center center;
  background-size: 20% ;
   height: 100vh;
  width: 100%;
  position: fixed;
  z-index: 100;

}