body {
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
	margin-top: 2rem;
}

.form-upload {

    width: 100vw;
	display: flex;
    background-color: aliceblue;
    border-radius: 1rem;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.content-text{
    height: 10rem;
    width: 24rem;
}
