*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Playfair Display', serif;
}
.div-of-nav{
    position: sticky;
    top: 0;
}
.navs1{
    height: 10vh;
    width: 100%;
    background-color:white;
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    padding-top: 12px;
    padding-left: 5%;
    padding-right: 5%;

}
.ul-content1{
    color: black;
    text-decoration: none;
    font-weight: bold;

}
.slide-tag{
    background-color: #ea1538;
    color: white;
    font-size: 20px;
    border-width: 0px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    position: relative;
    animation: text 1s 1;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.ul-nav1{
    align-items: right;
}
.cor-block-2{
    background-image: url("https://cdn.pixabay.com/photo/2014/02/27/16/10/flowers-276014_960_720.jpg");
    background-size: cover;
    width: 100vw;
    height: 85vh;
    padding-left: 16vw;
    padding-top: 35vh;
}
.caption-cor{
    padding: 3px;
    border-radius: 20px;
}
.cor-block-1{
    background-image: url("https://cdn.pixabay.com/photo/2015/04/23/22/00/tree-736885_960_720.jpg");
    background-size: cover;
    width: 100vw;
    height: 85vh;
    padding-left: 16vw;
    padding-top: 35vh;
  
}
.cor-block-3{
    background-image: url("https://cdn.pixabay.com/photo/2015/12/01/20/28/road-1072823_960_720.jpg");
    background-size: cover;
    width: 100vw;
    height: 85vh;
    padding-left: 16vw;
    padding-top: 35vh;
    
}

.logo1{
    
    font-size: 28px;
}
.span1{
    color: #ea1538;
}
nav ul li{
    list-style-type: none;
    display: inline-block;
    padding: 10px 20px;
}
.slide-corousel{
    
    font-weight: bold;
    font-size: 60px;
    color: white;
    position: relative;
    animation: text 2s 1;

}
.slide-para{
    font-size: 20px;
    color: white;
    position: relative;
    animation: text 2s 1;
   
}
.slide-donate{
    background-color: #ea1538;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    border-width: 0px;
    position: relative;
    animation: text 2s 1;
    
}

.ul-content1:hover{
    color: #ea1538;
    transition: .3s;
    text-decoration: none;
    
}
.button1{
    border: none;
    background:#ea1538 ;
    padding: 12px 30px;
    border-radius: 30px;
    color: white;
    font-weight: bold;
    font-size: 15px;
    transition: .4s;
}
.button1:hover{
    transform: scale(1.3);
    cursor: pointer;
}


@keyframes text{
    0%{
        color:transparent;
        background-color: transparent;
        margin-top: -40px;
        background-size: 150%;
    }
    30%{
        color:transparent;
        background-color: transparent;
        margin-top: -40px;
        background-size: auto;
    }
    
    60%{
        background-color: transparent;
        background-size: auto;

    }
    80%{
        background-color: transparent;
        background-size: auto;
    }
    }
    .navs1 .nav-hamburger{
        display: none;
        position: absolute;
        top: 35px;
        right: 50px;
        width: 75px;
    }

    @media screen and (max-width : 768px) {
        .d-none d-md-block cor-block-2{
            display: none;
        }
        .navs1{
            padding: 0;
        }
        .navs1 .nav-hamburger{
            display: block;
        }
        .navhide{
            top: 0;
            left: 0;
            position:absolute;
            background-color: rgba(255, 255, 255, 0.20);
            backdrop-filter: blur(8px);
            width: 100%;
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
           
        }
        .navhide ul{
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }
    