* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Playfair Display', serif;
}

.div-of-nav {
    position: sticky;
}

.navs1 {
    height: 10vh;
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: space-between;
    padding-top: 6px;
    padding-left: 2%;
    padding-right: 2%;

}

.ul-content1 {
    color: black;
    text-decoration: none;
    font-weight: bold;

}

.slide-tag {
    background-color: #ea1538;
    color: white;
    font-size: 20px;
    border-width: 0px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    position: relative;
    animation: text 1s 1;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.ul-nav1 {
    align-items: right;
}

.cor-block-2 {
    background-image: url("https://images.unsplash.com/photo-1527788263495-3518a5c1c42d?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1208&q=80");
    background-size: cover;
    width: 100vw;
    height: 80vh;
    padding-left: 16vw;
    padding-top: 35vh;
}

.caption-cor {
    padding: 3px;
    border-radius: 20px;
}

.cor-block-1 {
    background-image: url("https://images.unsplash.com/photo-1488521787991-ed7bbaae773c?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");
    background-size: cover;
    width: 100vw;
    height: 80vh;
    padding-left: 16vw;
    padding-top: 35vh;

}

.cor-block-3 {
    background-image: url("https://images.unsplash.com/photo-1505455184862-554165e5f6ba?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1169&q=80");
    background-size: cover;
    width: 100vw;
    height: 80vh;
    padding-left: 16vw;
    padding-top: 35vh;

}

.logo1 {
    height: 90px;
    width: 80px;
    padding-bottom: 20px;
    padding-top: 0px;
}

.logo12 {
    font-size: 28px;
    padding: 10px;
    padding-top: 15px;

}

.span1 {
    color: #ea1538;
}

nav ul li {
    list-style-type: none;
    display: inline-block;
    padding: 10px 20px;
}

.slide-corousel {

    font-weight: bold;
    font-size: 60px;
    color: white;
    position: relative;
    animation: text 2s 1;

}

.slide-para {
    font-size: 20px;
    color: white;
    position: relative;
    animation: text 2s 1;

}

.slidedonate {
    background-color: #ea1538;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    width: 130px;
    padding-bottom: 10px;
    color: white;
    border-width: 0px;
    border-radius: 3px;
    position: relative;
    animation: text 2s 1;
    overflow: hidden;

    /* position: relative;
    margin: 10px;
    padding-top:10px;
   
    background-color: #ea1538;
    text-decoration: none;
    overflow: hidden;
    animation: text 2s 1; */
}

.slidedonate span {
    position: relative;
    z-index: 1;
}

.slidedonate::before {
    content: '';
    position: absolute;
    top: var(--y);
    left: var(--x);
    transform: translate(-50%, -50%);
    width: 0;
    height: 0;
    border-style: 2px solid transparent;
    border-radius: 50%;
    background: rgb(0, 0, 0);
    transition: width 1.5s, height 1.5s;
}

@keyframes text {
    0% {
        color: transparent;
        background-color: transparent;
        margin-top: -40px;

    }

    30% {
        color: transparent;
        background-color: transparent;
        margin-top: -40px;

    }

    60% {
        background-color: transparent;


    }

    80% {
        background-color: transparent;

    }
}

.ul-content1:hover {
    color: #ea1538;
    transition: .3s;
    text-decoration: none;

}

.new-navs1 {
    display: flex;
}

.button1 {
    border: none;
    background: #ea1538;
    padding: 12px 30px;
    border-radius: 30px;
    color: white;
    font-weight: bold;
    font-size: 15px;
    transition: .4s;
}

.button1:hover {
    transform: scale(1.3);
    cursor: pointer;
}



.navs1 .nav-hamburger {
    display: none;
    position: absolute;
    top: 35px;
    right: 50px;
    width: 75px;
}
.footer{
    background-color: #24262d;
    padding: 70px 0;
}
.container{
    max-width: 1170px;
    
    margin: auto;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
.footer-col{
    width: 25%;
    padding: 0 15px;
}
ul{
    list-style: none;
}
.footer-col h4{
    font-size: 18px;
    color: #fff;
    text-decoration: none;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
    
}
/*
.footer-col h4::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #e91e63;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}
*/
.footer-col ul li:not(:last-child){
    margin-bottom: 10px;
}
.footer-col ul li a{
font-size: 16px;
text-transform: capitalize;
color: #fff;
text-decoration: none;
font-weight:300;
color:#bbbbbb;
display: block;
transition: all 0.3s ease;

}
.footer-col ul li a:hover{
    color: #ffffff;
    padding-left: 8px;
}
.footer-col .social-links a{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.5s ease;

}
.footer-col .social-links a:hover{
    color:#24262b;
    background-color: #ffffff;
}


@media screen and (max-width : 1110px) {
    .navs1 {
        padding: 0;
    }

    .navs1 .nav-hamburger {
        position: absolute;

        display: block;
        top: -4px;
        padding: 8px;
        right: 18px;
    }

    @media screen and (max-width : 1110px) {
        .navs1 {
            padding: 0;
        }
    
        .navs1 .nav-hamburger {
            position: absolute;
    
            display: block;
            top: -4px;
            padding: 8px;
            right: 18px;
        }
    
        .navhide {
            top: 0;
            left: 0;
            position: absolute;
            background-color: white;
            box-shadow: 0 0 10px gray;
            width: 100%;
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-left: -100%;
            transition: all 0.5s ease;
    
        }
        .navhide.mobile-menu{
            margin-left: 0;
        
        }
    
        .navhide ul {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    
        .navs1 .navhide ul li {
            margin: 20px 0;
            font-size: 1.2em;
    
    
        }
    
    }
    

    .first-section1{
     display: flex;
     flex-direction: row;
     padding: 40px;
     
    }
    .first-cont-label{
        border-width: 0px;
        background-color: hsl(350, 100%, 92%);
        color: rgb(247, 56, 56);
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 5px;
        padding-bottom: 5px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        margin: 10px;
        margin-left: 0px;
    }
    .first-cont-heading{
       font-size: 40px;
       padding: 10px; 
       padding-left: 0px;
       font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }

    .navhide.mobile-menu {
        margin-left: 0;

    }

    .navhide ul {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .navs1 .navhide ul li {
        margin: 20px 0;
        font-size: 1.2em;


    }
    .first-cont-img{
        padding-top: 10px;
        width: 100%;
        height: 100%;
    }


}
@media(max-width : 560px){
    .footer-col{
        width: 100%;
    }
    .second-cont-card-img{
        width: 100%;
        height: 70%;
    }
    .second-cont-card-heading{
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-size: 22px;
        text-align: center;
        padding: 20px;
    }

    .icon-card-inner{
        padding-left: 20px;
    }


    .second-cont-card-heading1{
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-size: 18px;
        text-align: center;
        padding: 10px;
    }
    .second-cont-card-icon{
        height: 30px;
        width: 30px;
        padding: 5px;
    }
    .second-cont-card-para{
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-size: 15px;
        padding: 5px;
        padding-right: 10px;
    }
    .second-cont-card-para1{
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-size: 13px;
        padding: 5px;
        padding-right: 10px;
    }
    .second-cont-card{
        padding-bottom: 20px;
        
        margin: 20px;
        border-style: solid;
        border-width: 0px;
        background-color: white;
        border-bottom-width:5px ;
        border-color: white;
    }
    .second-cont-card-heading:hover{
        color: #ea1538;
        transition: 1s;
    }
    .second-cont-card:hover{
        border-style: solid;
        border-width: 0px;
        border-bottom-width:5px ;
        border-color: #ea1538;
        transition: 1s;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
    }

}

.underline{
    background-color: #ea1538;
    width: 60px;
    padding: 1px;
    margin-top: -24px;
    margin-bottom: 35px;
    
}


.first-section1 {
    display: flex;
    padding: 40px;

}

.first-cont-label {
    border-width: 0px;
    background-color: hsl(350, 100%, 92%);
    color: rgb(247, 56, 56);
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 10px;
    margin-left: 0px;
}

.first-cont-heading {
    font-size: 40px;
    padding: 10px;
    padding-left: 0px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

.first-cont-para {
    font-size: 15px;
    padding: 10px;
    padding-left: 0px;
    color: #918585;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

.first-cont-button {
    background-color: #ea1538;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    border-width: 0px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 10px;
    margin-left: 0px;

}

.first-cont-img {
    width: 100%;
    height: 100%;
}

.first-cont-part1 {
    padding: 10px;
    padding-top: 120px;
    padding-left: 100px;
}

.first-cont-part2 {
    padding: 20px;
    padding-right: 100px;
}

.second-cont-label {
    border-width: 0px;
    background-color: hsl(350, 100%, 92%);
    color: rgb(247, 56, 56);
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 10px;
    margin-left: 0px;
}

.second-cont-heading {
    font-size: 40px;
    padding: 10px;
    padding-left: 0px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.second-cont-para {
    font-size: 15px;
    padding: 10px;
    padding-left: 20%;
    padding-left: 0px;
    color: #918585;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.second-cont-part1 {
    text-align: center;
    margin: 30px;
    padding-left: 70px;
    padding-top: 50px;

}

.second-cont-card-img {
    width: 100%;
    height: 70%;
}

.second-cont-card-heading {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 22px;
    text-align: center;
    padding: 10px;
}

.second-cont-card-heading1 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 18px;
    text-align: center;
    padding: 10px;
}

.second-cont-card-icon {
    height: 30px;
    width: 30px;
    padding: 5px;
}

.second-cont-card-para {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 15px;
    padding: 5px;
    padding-right: 10px;
}

.second-cont-card-para1 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 13px;
    padding: 5px;
    padding-right: 10px;
}

.second-cont-card {
    padding-bottom: 20px;
    margin: 20px;
    border-style: solid;
    border-width: 0px;
    background-color: white;
    border-bottom-width: 5px;
    border-color: white;
}

.second-cont-card-heading:hover {
    color: #ea1538;
    transition: 1s;
}

.second-cont-card:hover {
    border-style: solid;
    border-width: 0px;
    border-bottom-width: 5px;
    border-color: #ea1538;
    transition: 1s;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}


/* cursor effect */
.btn0,
.btn1,
.btn2,
.btn3 {
    position: relative;
    margin: 10px;
    padding-top: 10px;
    text-align: center;
    height: 320px;
    width: 36vh;
    background-color: white;
    color: rgb(49, 49, 50);
    text-decoration: none;
    overflow: hidden;


}

.btn1:hover {

    color: black;
}


.img {
    width: 10px;
}

.btn0 span {
    position: relative;
    z-index: 1;

}

.btn3 span {
    position: relative;
    z-index: 1;
}

.btn1 span {
    position: relative;
    z-index: 1;

}

.btn2 span {
    position: relative;
    z-index: 1;

}

.btn0::before {

    content: '';
    position: absolute;
    top: var(--y);
    left: var(--x);
    transform: translate(-50%, -50%);
    width: 0;
    height: 0;
    border-style: 2px solid transparent;
    border-radius: 50%;
    background: rgb(255, 84, 84);
    transition: width 0.4s, height 0.4s;

}

.btn1::before {
    content: '';
    position: absolute;
    top: var(--y);
    left: var(--x);
    transform: translate(-50%, -50%);
    width: 0;
    height: 0;
    border-style: 2px solid transparent;
    border-radius: 50%;
    background: rgb(255, 207, 17);
    transition: width 0.4s, height 0.4s;

}

.btn3::before {
    content: '';
    position: absolute;
    top: var(--y);
    left: var(--x);
    transform: translate(-50%, -50%);
    width: 0;
    height: 0;
    border-style: 2px solid transparent;
    border-radius: 50%;
    background: rgb(255, 90, 255);
    transition: width 0.4s, height 0.4s;

}

.btn2::before {
    content: '';
    position: absolute;
    top: var(--y);
    left: var(--x);
    transform: translate(-50%, -50%);
    width: 0;
    height: 0;
    border-style: 2px solid transparent;
    border-radius: 50%;
    background: rgb(49, 248, 49);
    transition: width 0.4s, height 0.4s;

}

.second-cont-anchor {
    color: rgb(78, 78, 78);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 13px;
}

.btn0:hover::before {

    width: 1000px;
    height: 1000px;
}

.slidedonate:hover::before {
    width: 1000px;
    height: 1000px;
}

.btn1:hover::before {
    width: 1000px;
    height: 1000px;
}

.btn2:hover::before {
    width: 1000px;
    height: 1000px;
}

.btn3:hover::before {
    width: 1000px;
    height: 1000px;
}

.bdy1 {
    padding: 0;
    box-sizing: border-box;
    margin: 10px;
    display: flex;
    flex-direction: row;
    padding: 20px;
    padding-left: 40px;
    padding-right: 40px;
    justify-content: center;
    align-items: center;
    min-height: 10vh;
    background: white;
}

.cursor-img {
    width: 110px;
    height: 90px;
}

.btn0 :hover {
    color: white
}

.btn1 :hover {
    color: white
}

.btn2 :hover {
    color: white
}

.btn3 :hover {
    color: white
}

.slidedonate:hover {
    color: white;

}
.responsive-div{
    display: flex;
    flex-direction: row;
}


@media screen and (max-width : 1100px){
.responsive-div{
    display: flex;
    flex-direction: row;
}
.bdy1{
    display: flex;
    flex-direction: column;
}
.first-section1{
    display: flex;
    flex-direction: column-reverse;
}


}

@media screen and (max-width : 500px){
    .responsive-div{
        display: flex;
        flex-direction: column;
    }
    .bdy1{
        flex-direction: column;
    }
    .first-cont-part2{
        padding-right: 0px;
        padding: 0px;
    }
    .first-cont-heading{
        font-size: 30px;
        padding-top: 0px;
    }
    .first-cont-para{
        font-size: 15px;
    }
    .second-cont-heading{
        font-size: 30px;
        padding-top: 0px;
    }
    .second-cont-para{
        font-size: 15px;
    }
    .second-cont-part1{
        text-align: start;
        padding-left: 20px;
    }
    .first-cont-part1{
        padding-left: 20px;
        padding-top: 50px;
    }
    .cor-block-1{
        width: 100vw;
        height: 50vh;
        padding-top: 8vh;
        padding-left: 5vh;
    }
    .cor-block-2{
        width: 100vw;
        height: 50vh;
        padding-top: 8vh;
        padding-left: 5vh;

    }
    .cor-block-3{
        width: 100vw;
        height: 50vh;
        padding-top: 8vh;
        padding-left: 5vh;

    }
    .slide-corousel{
        font-size: 40px;
    }
    .slide-para{
        font-size: 15px;
    }
    .first-cont-img{
        width: 320px;
        height: 262px;
    }
    }
.slider{
min-height: 55vh;
display: flex;
align-items: center;
padding: 20px;
}
.subslider{
width: 100%;
}
.carouseslid{
max-width: 1200px;
margin: auto;
padding: 0 30px;
}
.carouselslid .card{
color: #fff;
text-align: center;
margin: 20px 0;
line-height: 250px;
font-size: 90px;
font-weight: 600;
border-radius: 10px;
box-shadow: 0px 4px 15px rgba(0,0,0,0.2);
}

.owl-dots{
text-align: center;
margin-top: 40px;
}
.owl-dot{
height: 15px;
width: 15px;
margin: 0 5px;
outline: none;
border-radius: 14px;
border: 2px solid #f60f0f!important;
box-shadow: 0px 4px 15px rgba(0,0,0,0.2);
transition: all 0.3s ease;
}
.owl-dot.active,
.owl-dot:hover{
background: #e00f0f!important;
}

